.wrapper-list-products {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  .name-page{
    font-size: 42px;
  }
  .full-wrapper-information {
    display: flex;
    margin: 0 10px;

    .information-about-product {
      display: flex;
      padding: 10px 20px;
      margin: 5px;
      background: white;
      width: 400px;
      justify-content: space-between;
      align-items: center;
      .first-line {
        display: flex;
        flex-direction: column;
        .name-product {
          font-size: 32px;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            color: rgb(180, 179, 179);
          }
        }
        .about-product {
          font-size: 22px;
        }
      }
      .second-line {
        .price {
          padding-right: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .wrapper-list-products {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 85%;
    .name-page{
      font-size: 38px;
      margin-bottom: 20px;
      text-align: left;
    }
    .full-wrapper-information{
      flex-direction: column;
      justify-content: center;
      width: 85%;

      .information-about-product {
        justify-content: space-around;
        max-width: 90%;

        .about-product {
          margin-bottom: 0;
        }
        &last-child{
          margin-bottom: 50px;
        }
        .second-line {
          .price {
            padding-right: 0;
          }
        }
      }
    }
  }
}
