<div class="wrapper-list-products">
  <span class="name-page">List of products</span>
  <div class="full-wrapper-information" *ngFor="let product of listProduct">
    <div class="information-about-product">
      <div class="first-line">
        <p (click)="goToProduct($event)" class="name-product">{{product.title}}</p>
        <span class="about-product">{{product.description}}</span>
      </div>
      <div class="second-line">
        <span class="price">price: {{product.price}}</span>
      </div>
    </div>
    <app-product [product]="product" *ngIf="title === product.title"></app-product>
  </div>
</div>
