<div class="wrapper-store">
  <div class="about-store">
    <span class="title-store">{{store.title}}</span>
    <span class="store-description">store description...</span>
    <div class="wrapper-information-store">
      <p class="Contact-Information-Header" *ngIf="!isAddress" (dblclick)="changeIsAddress($event)">Address: {{store.address}}</p>
      <input type="text" class="input-change-value" (keydown.enter)="renameAddress($event)" *ngIf="isAddress" value={{store.address}}>
    </div>
    <div class="wrapper-information-store">
      <p class="Contact-Information-Header" *ngIf="!isShedule" (dblclick)="changeIsShedule($event)">Schedule: {{store.schedule}}</p>
      <input type="text" class="input-change-value" (keydown.enter)="renameSchedule($event)" *ngIf="isShedule" value={{store.schedule}}>
    </div>
  </div>
  <div>
    <p class="wrapper-products" (click)="goToProductDetails()">List products</p>
  </div>
</div>

