.wrapper-store {
  display: flex;
  background: white;
  border-right: 1px solid lightgray;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-right: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  .about-store {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 0 180px 0 30px;
    margin: 10px 0;
    border-right: 1px solid black;

    .title-store {
      font-size: 32px;
      font-weight: bold;
    }
    .store-description {
      font-size: 22px;
    }
    .wrapper-information-store {
      .Contact-Information-Header {
        padding: 0;
        margin: 0;
      }
      .input-change-value{
        border: none;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 18px;
        outline:0;
        border-bottom: 1px solid black;

      }
    }
  }
  .wrapper-products {
    padding-right: 40px;
    font-size: 22px;
    cursor: pointer;
    outline: none;

    &:hover {
      color: #b4b3b3;
    }
  }
}

@media screen and (max-width: 1100px) {
  .wrapper-store {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px 200px 1px 0;
    width: 100%;
    border-right: none;
    background: lightgray;
    .about-store {
      border-right: none;
      margin-bottom: 0;
      border-bottom: 1px solid black;
      padding: 0;
    }
    .wrapper-products {
      padding: 0;
      margin: 20px 0;
    }
  }
}
