.wrap_map {
  padding-top: 10px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid black;
  margin: 30px 20px;
  .map-name{
    font-size: 42px;
    padding-bottom: 20px;

  }
  .googlemap {
    width: 90%;
    height: 380px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    margin-bottom: 50px;

  }
}


