.list-shops{
  font-size: 32px;
  text-align: end;
  padding-right: 50px;
  cursor: pointer;
  border-bottom: 1px solid black;
  margin: 10px 20px;
  padding-bottom: 10px;
  outline: none;

  &:hover{
    color: rgb(180, 179, 179);
  }
}

