<div class="wrapper-list-stores">
  <span class="name-page">List of stores</span>
  <div *ngFor="let store of stores" class="full-wrapper-information">
    <div class="information-about-store">
      <a (click)="goToShop($event)" class="name-store">{{ store.title }}</a>
      <span class="about-store">store description...</span>
      <span>Address: {{ store.address }}</span>
      <span>Schedule: {{ store.schedule }}</span>
    </div>
    <app-shop [store]="store" *ngIf="title === store.title"></app-shop>
  </div>
</div>
<app-gmaps></app-gmaps>

