.wrapper-list-stores {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  padding-bottom: 20px;
  .name-page{
    font-size: 42px;
  }
  .full-wrapper-information {
    display: flex;
    margin: 0 10px;

    .information-about-store {
      display: flex;
      padding: 10px 20px;
      margin: 5px;
      flex-direction: column;
      background: white;
      width: 400px;

      .name-store {
        padding: 0 50px;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color: black;
        &:hover {
          color: rgb(180, 179, 179);
        }
      }
      .about-store {
        font-size: 22px;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
@media screen and (max-width: 1100px) {
  .wrapper-list-stores {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 85%;
    .name-page{
      font-size: 38px;
      margin-bottom: 20px;
      text-align: left;
    }
    .full-wrapper-information{
      flex-direction: column;
      width: 85%;

      .information-about-store {
        max-width: 90%;

        .about-store {
          margin-bottom: 0;
        }
        &last-child{
          margin-bottom: 50px;
        }
      }


    }
  }
}

