@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background: lightgray;
  font-family: "Open Sans Condensed", sans-serif;
}
