.wrapper-one-product {
  display: flex;
  background: white;
  border-right: 1px solid lightgray;
  margin-left: 50px;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-right: 100px;
  margin-top: 5px;
  margin-bottom: 5px;

  .about-one-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 0 180px 0 30px;
    margin: 10px 0;
    border-right: 1px solid black;

    .title-one-product {
      font-size: 32px;
      font-weight: bold;
    }
    .information-one-product {
      font-size: 22px;    }
  }
}
.product-price {
  padding-right: 40px;
  font-size: 22px;
}

@media screen and (max-width: 1100px) {
  .wrapper-one-product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px 200px 1px 0;
    width: 100%;
    border-right: none;
    background: lightgray;
    .about-one-product {
      border-right: none;
      margin-bottom: 0;
      border-bottom: 1px solid black;
      padding: 0;
    }
    .product-price {
      padding: 0;
      margin: 20px 0;
    }
  }
}
