<div class="wrapper-one-product">
  <div class="about-one-product">
    <span class="title-one-product">{{product.title}}</span>
    <span class="information-one-product">{{product.description}}</span>
  </div>
  <div>
    <p class="product-price">{{product.price}}</p>
  </div>
</div>
